<header class="basis-3/12 h-screen flex justify-end">
  <div class="fixed flex flex-col justify-between h-screen px-4 w-64">
    <div class="flex justify-start flex-col">
      <h1 class="mt-4 h-10 px-1 flex items-center">
        <div class="flex justify-center items-center w-10 h-10 rounded-full hover:bg-sky-100 transition hover:duration-150">
          <%= link_to root_path, :class=>"" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="p-1 w-8 h-8 text-twitter"><--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg>
          <% end %>
        </div>
      </h1>
      <div class="text-2xl">
        <nav class="my-4">
          <ul class="flex flex-col">
            <li>
              <div class="flex py-1 group">
                <div class="flex px-3 py-2 rounded-full group-hover:bg-gray-100 transition group-hover:duration-150">
                  <div class="basis-6 pt-1">
                    <%= image_tag 'home.svg', :class=>"w-8" %>
                  </div>
                  <div class="basis-18 text-center">
                    <span class="inline-block pl-6 pr-3">ホーム</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="flex py-1 group">
                <div class="flex px-3 py-2 rounded-full group-hover:bg-gray-100 transition hover:duration-150">
                  <div class="basis-6 pt-1">
                    <%= image_tag 'hash.svg', :class=>"w-8" %>
                  </div>
                  <div class="basis-18 text-center">
                    <span class="inline-block pl-6 pr-3">話題を検索</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="flex py-1 group">
                <div class="flex px-3 py-2 rounded-full group-hover:bg-gray-100 transition group-hover:duration-150">
                  <div class="basis-6 pt-1">
                    <%= image_tag 'bell.svg', :class=>"w-8" %>
                  </div>
                  <div class="basis-18 text-center">
                    <span class="inline-block pl-6 pr-3">通知</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="flex py-1 group">
                <div class="flex px-3 py-2 rounded-full group-hover:bg-gray-100 transition hover:duration-150">
                  <div class="basis-6 pt-1">
                    <%= image_tag 'mail.svg', :class=>"w-8" %>
                  </div>
                  <div class="basis-18 text-center">
                    <span class="inline-block pl-6 pr-3">メッセージ</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="flex py-1 group">
                <div class="flex px-3 py-2 rounded-full group-hover:bg-gray-100 transition hover:duration-150">
                  <div class="basis-6 pt-1">
                    <%= image_tag 'ribbon.svg', :class=>"w-8" %>
                  </div>
                  <div class="basis-18 text-center">
                    <span class="inline-block pl-6 pr-3">ブックマーク</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="flex py-1 group">
                <div class="flex px-3 py-2 rounded-full group-hover:bg-gray-100 transition hover:duration-150">
                  <div class="basis-6 pt-1">
                    <%= image_tag 'layout.svg', :class=>"w-8" %>
                  </div>
                  <div class="basis-18 text-center">
                    <span class="inline-block pl-6 pr-3">リスト</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="flex py-1 group">
                <div class="flex px-3 py-2 rounded-full group-hover:bg-gray-100 transition hover:duration-150">
                  <div class="basis-6 pt-1">
                    <%= image_tag 'person.svg', :class=>"w-8" %>
                  </div>
                  <div class="basis-18 text-center">
                    <span class="inline-block pl-6 pr-3">プロフィール</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="flex py-1 group">
                <div class="flex px-3 py-2 rounded-full group-hover:bg-gray-100 transition hover:duration-150">
                  <div class="basis-6 pt-1">
                    <%= image_tag 'more.svg', :class=>"w-8" %>
                  </div>
                  <div class="basis-18 text-center">
                    <span class="inline-block pl-6 pr-3">もっと見る</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nav>
        <div class="bg-twitter hover:bg-twitter-hover active:bg-twitter-active transition  hover:duration-150 text-white rounded-full text-center">
          <button class="px-4 py-2 text-xl font-bold">ツイートする</button>
        </div>
      </div>
    </div>
    <div class="flex p-2 mb-4 rounded-full transition hover:duration-150 hover:bg-gray-100">
      <div class="basis-3/12 flex items-center">
        <%= image_tag 'default_user.png', :class=>"h-10" %>
      </div>
      <div class="basis-9/12 flex justify-around w-full">
        <div>
          <p class="font-bold">
            <%= @user.name %>
          </p>
          <p>
            @<%= @user.id %>
          </p>
        </div>
        <div>
          <%= link_to 'Log out', logout_path(:id), data: { turbo_method: :delete } %>
        </div>
      </div>
    </div>
  </div>
</header>